<% content_for :slide do %>
    <%= render :partial => 'spree/shared/slider' %>
<% end %>

<div data-hook="homepage_categories" class="">
  <% if @first_taxonomy.present? %>
    <% first_taxon   = @all_taxons.first
      last_taxon    = @all_taxons.last
    %>
    <% @all_taxons.each_slice(3) do |taxon_group| %>
      <% taxon_group.each_with_index do |taxon, i|
        if first_taxon    == taxon
          position = "alpha"
        elsif last_taxon  == taxon
          position = "omega"
        else
          position = ""
        end
      %>
        <div class="one-third column <%= position %>">
          <h2><%= link_to line_break(taxon.try(:name)), seo_url(taxon), :class => colors_array[i] %>       </h2>

          <div class="home_category_products">
            <% taxon.featured_products.limit(3).each do |p_product, p_i| %>
              <div class="home_category_product">
                <div class="home_category_product_image"><%= link_to small_image(p_product, :itemprop => "image"), p_product, :itemprop => 'url' %></div>

				<div class="area">
				      <div class="bubble bg_<%= colors_array[i] %> white">
				          <p><%= p_product.try(:name) %></p>
				      </div>
				</div>

              </div>
            <% end %>
          </div>
        </div>
      <% end %>
    <% end %>
  <% end %>
</div>

<% content_for :post_wrapper do %>
  <div data-hook="homepage_prominent_products">
    <h2 class="green">Productos Destacados</h2>
    <%= render :partial => 'spree/shared/products_group_3', :locals => { :products => @featured_products } %>
  </div>
<% end %>

